@model ReqTrack.Application.Web.MVC.ViewModels.Projects.ChangeRightsViewModel

@{
    ViewData["Title"] = "Change rights";
}

<div class="row" style="margin-top: 10px">
    <div class="col-xs-3">
        <h4>Actions</h4> <hr />
        <a asp-area="" asp-controller="Users" asp-action="Index" asp-route-id=@Model.ApplicationUserId class="btn btn-default actionButton">View profile</a>
        <a asp-area="" asp-controller="Projects" asp-action="Index" asp-route-id=@Model.ProjectId class="btn btn-default actionButton">View project</a>
    </div>

    <div class="col-xs-9">
        <h4>Change rights of project: @Model.ProjectName</h4> <hr />
        <div>
            <form asp-action="ChangeRights">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <table class="table" id="rightsTable">
                        <tr id="rightsTableHeader">
                            <th class="actionButton">Username</th>
                            <th>View</th>
                            <th>Change requirements</th>
                            <th>Change use cases</th>
                            <th>Change rights</th>
                            <th>Administrator</th>
                            <th><button class="btn btn-default tableButton" name="add">Add</button></th>
                        </tr>
                        @for (var i = 0; i < Model.UserNames.Length; ++i)
                        {
                            <tr>
                                <td><input name="UserNames[]" class="form-control" value="@Model.UserNames[i]"/></td>
                                <td><input name="CanView[]" type="checkbox" checked="@Model.CanView[i]"/></td>
                                <td><input name="CanChangeRequirements[]" type="checkbox" checked="@Model.CanChangeRequirements[i]"/></td>
                                <td><input name="CanChangeUseCases[]" type="checkbox" checked="@Model.CanChangeUseCases[i]"/></td>
                                <td><input name="CanChangeProjectRights[]" type="checkbox" checked="@Model.CanChangeProjectRights[i]"/></td>
                                <td><input name="IsAdministrator[]" type="checkbox" checked="@Model.IsAdministrator[i]"/></td>
                                <td><button class="btn btn-default tableButton" name="del" onclick="remove_row(this)">Delete</button></td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="form-group">
                    <input asp-for="ProjectId" class="form-control" />
                    <input asp-for="ProjectName" class="form-control" />
                    <input asp-for="ApplicationUserId" class="form-control" />
                    <input asp-for="ApplicationUserName" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}